
@model List<GymPrimerParcialWeb.precios>

@{
    ViewBag.Title = "VerPrecios";
}

<h2>VerPrecios</h2>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID PRECIO</th>
            <th>PRECIO</th>
            <th>ACTIVIDAD</th>
            <th>TIPO DE PAGO</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id_precio</td>
                <td>@item.precio</td>
                <td>@item.id_actividad</td>
                <td>@item.id_tipo_pag</td>

            </tr>
        }
    </tbody>
</table>


