@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Citius Gym</h1>
    <img src="../img/Principal.jpg" alt="Chicago" width="1000" height="450">
    <p class="lead">Descripción
            Altius, Fortius, Citius!!</p>
    <p><a href="https://es-la.facebook.com/pg/CitiusGym/about/?ref=page_internal" class="btn btn-primary btn-lg">Conocénos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pesas</h2>
        <img src="../img/pesas.jpg" alt="Chania" width="300" height="300">
        <p>
            Es una manera habitual de ejercicio, en el cual se usa la fuerza de gravedad (a través de los discos, las mancuernas, las máquinas con polea y/o palancas) 
            que se opone a la contracción muscular. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Crossfit</h2>
        <img src="../img/crossfit.jpg" alt="Chania" width="300" height="300">
        <p>
            El CrossFit es un sistema de acondicionamiento físico basado en ejercicios constantemente variados, 
            con movimientos funcionales, ejecutados a alta intensidad.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zumba</h2>
        <img src="../img/zumba.jpg" alt="Chania" width="300" height="300">
        <p>
            Zumba es un deporte, una disciplina fitness, enfocada por una parte a mantener un cuerpo saludable y 
            por otra a desarrollar, fortalecer y dar flexibilidad al cuerpo mediante movimientos de baile combinados 
            con una serie de rutinas aeróbicas.
        </p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Baile de Salón</h2>
        <img src="../img/baile.png" alt="Chania" width="300" height="300">
        <p>
            Los bailes de salón, son aquellos que baila una pareja de forma coordinada y siguiendo el ritmo de la música. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Spining</h2>
        <img src="../img/spi.jpg" alt="Chania" width="300" height="300">
        <p>
            El spinning es un ejercicio aeróbico y de piernas principalmente, donde el monitor o profesor puede mediante el cambio de la frecuencia de pedaleo y de la resistencia 
            al movimiento, realizar todo tipo de intensidades.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gimnasio</h2>
        <img src="../img/gym.jpg" alt="Chania" width="300" height="300">
        <p>
            Un gimnasio es un lugar que permite practicar deportes o 
            hacer ejercicio en un recinto cerrado con varias maquinas y artículos deportivos a disposición de quienes lo visiten.
        </p>
    </div>

</div>